.main{
    margin: 3rem auto;
    width: 90%;
    max-width: 60rem;  
}

.backdrop {
  position: fixed;
  z-index: 1;
  transition: 250ms;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}